<div class="container">
    <div class="row box form-request">
        <h1 class="page-header">Form request</h1>
        <form class="form-request__about">
            <h3>About you: </h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Name* :</label>
                        <input ng-model="form.name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Phone* :</label>
                        <input type="text" ng-model="form.phone" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Email* :</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Organization :</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Payment :</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <h3>Data about route</h3>
            <hr>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Point of departure* :</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Point of destination* :</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label>Shipment date: *</label>
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <button class="btn btn-info">Create</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
