<div class="container box">
    <h1>Edit Profile</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center profile-image-container">
                <img ng-src="{{profile.user.avatar}}" class="profile-image" alt="avatar">
                <div class="overlay-img">
                    <span class="overlay-img__title">Load image</span>
                    <input type="file" onchange="angular.element(this).scope().profile.fileUpload(this, 'avatar')"
                           class="profile-image__file">
                </div>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert"
                 ng-show="profile.messages.errors || profile.messages.success"
                 ng-bind="profile.messages.errors || profile.messages.success"
                 ng-class="{'alert-danger': profile.messages.errors, 'alert-success': profile.messages.success}"
                 role="alert"></div>
            <h3>Personal info</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">Name:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="profile.user.name" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Email:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="email" ng-model="profile.user.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Organization:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="profile.user.organization" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Phone:</label>
                    <div class="col-lg-8">
                        <input class="form-control" ng-model="profile.user.phone" type="text">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="button" ng-click="profile.update()" class="btn btn-primary" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>