<div class="container box">
    <div class="row">
        <div class="col-sm-6">
            <form>
                <h1>Sign In</h1>
                <div ng-show="form.errors.length" class="alert alert-danger">{{form.errors}}</div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" ng-model="form.user.email" class="form-control" id="exampleInputEmail1"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" ng-model="form.user.password" class="form-control" id="exampleInputPassword1"
                           placeholder="Password">
                </div>
                <button type="submit" ng-click="form.signIn()" class="btn btn-default">Login</button>
            </form>
        </div>
    </div>
</div>