body {
    background: #e9ebec;
    color: #34383c;
    min-height: 650px;
}

header.navbar {
    margin-bottom: 0;
}

footer {
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 100px;
    color: #99979c;
    text-align: center;
    background-color: #2a2730;
}

footer .copy {
    text-align: right;
}

.slides {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    width: 100%;
    overflow: hidden;
}

.slides__item {
    height: 350px;
    background-size: cover;
    width: 100%;
    background-position: 0 80%;
}

.profile-image {
    border: 5px solid #ffffff;
    width: 200px;
    height: 200px;
}

.box {
    margin-top: 50px;
    padding-bottom: 50px;
    background: #f7f7f8;
    border-bottom: 1px solid #dbdee0;
    padding-left: 10px;
    padding-right: 10px;
}

.page-header {
    border-bottom: 1px solid #dbdee0;
}

.form-request__about {
    margin-top: 50px;
}

.overlay {
    background: #cecece;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    z-index: 9999;
}

body.in-load {
    overflow: hidden;
}

.loader {
    font-size: 10px;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    left: calc(50% - 11em);
    top: calc(50% - 11em);
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: absolute;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: #ffffff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: #99979c;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

input.profile-image__file {
    opacity: 0;
    position: absolute;
    z-index: 11;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    cursor: pointer;
}

.profile-image-container {
    position: relative;
}

.profile-image-container .overlay-img {
    display: none;
}

.profile-image-container:hover .overlay-img {
    display: block;
    background-color: rgba(206, 206, 206, 0.88);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.profile-image-container .overlay-img .overlay-img__title {
    color: #ffffff;
    line-height: 8em;
    font-size: 18pt;
    font-weight: bold;
}